# ==========================
# Runtime
# ==========================
Runtime/

# ==========================
# Temporary
# ==========================
Temp/

# ==========================
# Logs
# ==========================
Logs/

# ==========================
# Browser Templates
Templates/Chrome/*
Templates/Edge/*

!Templates/Chrome/.gitkeep
!Templates/Edge/.gitkeep

# ==========================
# Windows
# ==========================
Thumbs.db
Desktop.ini

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# PowerShell
# ==========================
*.psd1